*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding-left: 0;
}
:root {
    --dark-color: #212121;
    --border-color: #ececec;
    --web-link-color: #000000;
    --blue-color: #2196f3;
    --nav-mail-color: #757575;
    --container-color: #2f303a;
    --white-color: #ffffff;
    --section-color: #f5f4fa;
    --tel-details-color: #ffffff99;
}

body {
    font-family: "Roboto", sans-serif;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
header {
    cursor: pointer;
    font-style: normal;
    border: 1px solid var(--border-color);
}

.nav-one {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-wrapper {
    padding: 32px 0px;
    list-style: none;
    display: flex;
   
}
.mail-tel {
    padding: 32px 0px;
    padding-left: 364px;
    list-style: none;
    display: flex;
}
.header-wrapper {
    display: flex;
}
.web-link {
    font-size: 26px;
    text-decoration: none;
    color: var(--web-link-color);
    line-height: 1.38;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-right: 93px;
}
.blue-text {
    color: var(--blue-color);
    text-decoration: none;
}
.black-text {
    text-decoration: none;
    color: var(--dark-color);
    margin-right: 46px;
    font-weight: 500;
    font-size: 14px;
}

.nav-mail {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--nav-mail-color);
    margin-right: 50px;
}
.web-studio-text {
    font-size: 26px;
    font-family: raleway;
    font-weight: 700px;
    line-height: 1.19;
    opacity: 0.66;
}

.header-inside {
    background-color: var(--container-color);
}
.text-header-inside {
    font-size: 44px;
    font-weight: 900px;
    color: var(--white-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 30px;
    line-height: 1.36;
}

.index-button {
    color: var(--white-color);
    background-color: var(--blue-color);
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    border-style: none;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin-bottom: 200px;
    margin-left: 500px;
}
.pictures {
    display: flex;
    list-style: none;
    margin-bottom: 44px;
}

.background-cointainer {
    background-color: var(--white-color);
    margin-bottom: 80px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.what-we-do {
    margin-left: 424px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    margin-top: 94px;
    margin-bottom: 50px;
}
.our-team-background {
    background-color: var(--section-color);
}

.our-team-text {
    margin-left: 695px;
    line-height: 1.17;
    font-size: 36px;
    font-weight: 700px;
    margin-left: 695px;
    margin-top: 94px;
    margin-bottom: 50px;
}
.our-team-photos {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.name-surname {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    text-align: center;
}
.job-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--nav-mail-color);
    padding-bottom: 30px;
    text-align: center;
}

footer {
    background-color: var(--container-color);
    height: 252px;
}
address {
    padding-top: 60px;
    font-style: normal;
}
.studio-text {
    color: var(--white-color);
}
.adress-details {
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;
}
.city-street {
    margin-bottom: 9px;
}

.tel-details {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--tel-details-color);
}

.tel {
    margin-top: 9px;
}
.footer-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--tel-details-color);
}

.li-style {
    list-style-type: none;
    display: inline-block;
}
p {
    font-size: 14px;
    line-height: 1.7;
    margin-right: 30px;
    color: var(--nav-mail-color);
    letter-spacing: 0.03em;
}

.portfolio-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 94px;
    list-style: none;
}
.portfolio-button {
    cursor: pointer;
    font-weight: 500;
    border-radius: 4px;
    border-style: none;
    margin-right: 8px;
    height: 38px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    font-size: 16px;
}

.portfolio-button:active {
    background-color: var(--blue-color);
    color: var(--white-color);
}
.portfolio-button:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.text-details-one {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--dark-color);
    margin-left: 24px;
}
.text-details-two {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    margin-left: 24px;
    color: var(--nav-mail-color);
    margin-bottom: 20px;
}

figcaption {
    background-color: var(--white-color);
}

.border {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
}
.photos {
    list-style: none;
    margin-bottom: 94px;
}
.photos-inside {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
.photos-part-one {
    display: flex;
    justify-content: center;
}
.photos-part-three {
    display: flex;
    justify-content: center;
}
