*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    max-width: 1600px;
    height: 1880px;
    color: #212121;
    text-decoration: none;
}
nav {
    width: 1600px;
    height: 80px;
    cursor: pointer;
    font-style: normal;
    display: flex;
}

.nav-one {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-right: 364px;
    display: flex;
}
.mail-tel {
    display: flex;
    margin-top: 32px;
}
.nav-two {
    margin-left: 93px;
    margin-top: 32px;
}
.web-link {
    font-size: 26px;
    text-decoration: none;
    color: #000000;
    line-height: 1.38;
    font-weight: 700;
    margin-left: 215px;
    letter-spacing: 0.03em;
    font-family: "Raleway";
    font-style: normal;
    margin-top: 24px;
}
.portfolio-word {
    color: #2196f3;
}
.agencja-porfolio-kontakt {
}
.blue-text {
    color: #2196f3;
    text-decoration: none;
}
.black-text {
    text-decoration: none;
    color: #212121;
    margin-right: 46px;
}
.nav-mail {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    margin-right: 50px;
}
.web-studio-text {
    font-size: 26px;
    font-family: raleway;
    font-weight: 700px;
    line-height: 1.19;
    opacity: 0.66;
}
.images-portfolio {
    display: block;
}

.container-two {
    height: 600px;
    background-color: #2f303a;
}
.text-inside-two {
    font-size: 44px;
    font-weight: 900px;
    color: #ffffff;
    text-align: center;
    padding-top: 200px;
    line-height: 1.36;
}

.index-button {
    color: #ffffff;
    background-color: #2196f3;
    width: 200px;
    height: 50px;
    margin-left: 700px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    letter-spacing: 0.06em;
}
.display-two {
    display: flex;
    flex-direction: row;
    margin-left: 215px;
    margin-right: 215px;
    margin-top: 94px;
}

p {
    font-size: 14px;
    line-height: 1.71;
    margin-right: 30px;
    color: #757575;
}

.pictures {
    display: flex;
    margin-left: 175px;
    list-style: none;
}
.images-two {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
}
.background-cointainer {
    display: block;
    width: 270px;
    background-color: #ffffff;
}
.what-we-do {
    margin-left: 624px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 94px;
}
section {
    background-color: #f5f4fa;
}

.our-team {
    display: flex;
}
.our-team-text {
    margin-left: 695px;
    line-height: 1.17;
    font-size: 36px;
    font-weight: 700px;
    margin-left: 624px;
    margin-top: 94px;
    margin-bottom: 50px;
}
.our-team-photos {
    display: flex;
    list-style: none;
}

.name-surname {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-left: 99px;
    letter-spacing: 0.03em;
    color: #212121;
}
.job-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    display: block;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    padding-bottom: 30px;
}

footer {
    background-color: #2f303a;
    height: 252px;
}
address {
    padding-top: 60px;
}
.studio-text {
    color: #ffffff;
}
.adress-details {
    color: #ffffff;
    text-decoration: none;
    margin-left: 215px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;
}

.city-street {
    margin-bottom: 9px;
}
.tel-details {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff99;
}

.tel {
    margin-top: 9px;
}
.footer-mail {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff99;
}

.li-style {
    list-style-type: none;
}

.portfolio-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 94px;
}
.portfolio-button {
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    border-style: none;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    margin-right: 8px;
    height: 38px;
}

.portfolio-button:active {
    background-color: #2196f3;
    color: #ffffff;
}
.portfolio-button:hover {
    background-color: #2196f3;
    color: #ffffff;
}

.text-details-one {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-left: 24px;
}
.text-details-two {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    margin-left: 24px;
    color: #757575;
    margin-bottom: 20px;
}

figcaption {
    background-color: #ffffff;
}

.border {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    display: block;
    margin-top: 20px;
}
.photos {
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
}
.photos-part-one {
    display: flex;
    justify-content: center;
}
.photos-part-three {
    display: flex;
    justify-content: center;
}
