*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding-left: 0;
}
:root {
    --dark-color: #212121;
    --border-color: #ececec;
    --web-link-color: #000000;
    --blue-color: #2196f3;
    --nav-mail-color: #757575;
    --container-color: #2f303a;
    --white-color: #ffffff;
    --section-color: #f5f4fa;
    --tel-details-color: #ffffff99;
    --icon-border: #afb1b8;
    --icon-color: rgba(255, 255, 255, 0.1);
    --grey-shadow-one: rgba(0, 0, 0, 0.12);
    --grey-shadow-two: rgba(0, 0, 0, 0.06);
    --grey-shadow-three: rgba(0, 0, 0, 0.16);
    --grey-shadow-four: rgba(47, 48, 58, 0.4);
    --grey-shadow-five: rgba(47, 48, 58, 0.4);
    --grey-shadow-six: rgba(0, 0, 0, 0.15);
    --grey-shadow-seven: rgba(0, 0, 0, 0.14);
    --grey-shadow-eight: rgba(0, 0, 0, 0.2);
}

body {
    font-family: "Roboto", sans-serif;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

/* index.html */
/* HEADER */
header {
    border: 1px solid var(--border-color);
}
.header-wrapper {
    display: flex;
    height: 80px;
}
.web-link {
    font-size: 26px;
    text-decoration: none;
    color: var(--web-link-color);
    line-height: 1.38;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-right: 93px;
}
.nav-wrapper {
    padding-top: 32px;
    list-style: none;
    display: flex;
}
.nav-one {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.blue-text {
    color: var(--blue-color);
    text-decoration: none;
}
.black-text {
    text-decoration: none;
    color: var(--dark-color);
    margin-right: 46px;
    font-weight: 500;
    font-size: 14px;
}
.black-text:hover {
    color: var(--blue-color);
    transition: color 250ms, background 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-position {
    padding-left: 1px;
}
.mail-tel {
    padding-top: 32px;
    padding-left: 290px;
    list-style: none;
    display: flex;
}
.icon {
    display: flex;
    color: var(--nav-mail-color);
    fill: #757575;
}
.icon-inside {
    padding-right: 10px;
}
.icon:hover > a {
    color: #2196f3;
    fill: #2196f3;
    transition: color 250ms, background 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-mail {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--nav-mail-color);
    margin-right: 50px;
}
.underline::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 4px;
    left: 200;
    top: 78px;
    background-color: var(--blue-color);
    border-radius: 2px;
}

/* end HEADER */

/* SECTION 1 */
.section-one {
    background-image: linear-gradient(
            to bottom,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
}
.text-section-one {
    font-size: 44px;
    font-weight: 900px;
    color: var(--white-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 30px;
    line-height: 1.36;
}
.index-button {
    color: var(--white-color);
    background-color: var(--blue-color);
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 4px var(--grey-shadow-six);
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    border-style: none;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin-bottom: 200px;
    margin-left: 500px;
}
/* end SECTION 1 */

/* SECTION-2 "lorem ipsum" */
.ul-wrapper {
    display: flex;
}
.li-style {
    list-style-type: none;
    padding-right: 30px;
    padding-top: 94px;
}
h4 {
    margin-top: 30px;
}
p {
    font-size: 14px;
    line-height: 1.7;
    color: var(--nav-mail-color);
    letter-spacing: 0.03em;
    padding-top: 10px;
}
/* end SECTION-2 "lorem ipsum"  */

/* SECTION-3 "what we do" */
.what-we-do {
    margin-left: 424px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    margin-top: 94px;
    margin-bottom: 50px;
}
.pictures {
    display: flex;
    list-style: none;
    position: relative;
    width: 370px;
    height: 294px;
}
.pictures-what-we-do {
    padding-right: 30px;
}
.what-we-do-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    top: 224px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--white-color);
    background: rgba(47, 48, 58, 0.8);
}
/* end SECTION-3 */
/*  "OUR TEAM" */
.our-team-background {
    background-color: var(--section-color);
    margin-top: 94px;
}
.our-team-text {
    line-height: 1.17;
    font-size: 36px;
    font-weight: 700px;
    padding-top: 94px;
    margin-bottom: 50px;
    padding-left: 485px;
}
.our-team-photos {
    display: flex;
    list-style: none;
    width: 270px;
}
.our-team {
    margin-right: 30px;
}
.background-cointainer {
    background-color: var(--white-color);
    margin-bottom: 80px;
    box-shadow: 0px 1px 3px var(--grey-shadow-one),
        0px 1px 1px var(--grey-shadow-seven),
        0px 2px 1px var(--grey-shadow-eight);
    border-radius: 0px 0px 4px 4px;
}
.name-surname {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    text-align: center;
    padding-top: 30px;
}
.job-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--nav-mail-color);
    padding-bottom: 16px;
    text-align: center;
}
.icon-figcaption {
    display: flex;
    list-style: none;
    padding-bottom: 30px;
    padding-left: 32px;
}
.social-link a {
    display: flex;
    padding: 15px;
    border-radius: 50%;
}
.social-link a:hover {
    background: #2196f3;
    transition: color 250ms, background 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link a:hover svg {
    fill: white;
    transition: color 250ms, background 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link a svg {
    fill: #afb1b8;
}

/* end "OUR TEAM" */
/* start "OUR CLIENTS" */
.our-clients-text {
    padding-top: 92px;
    text-align: center;
    line-height: 1.16;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
}
.our-clients-icons {
    display: flex;
    list-style: none;
    padding-bottom: 94px;
}
.clients-border {
    border: 1px solid var(--icon-border);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    margin-right: 30px;
    fill: var(--icon-border);
}
.clients-border:hover {
    fill: var(--blue-color);
    border: 1px solid var(--blue-color);
    transition: color 250ms, background 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* end "OUR CLIENTS" */
/* start "FOOTER" */
footer {
    background-color: var(--container-color);
    height: 252px;
}
address {
    padding-top: 60px;
    font-style: normal;
}
.footer-with-social {
    display: flex;
}
.studio-text {
    color: var(--white-color);
}
.adress-details {
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;
}
.city-street {
    margin-bottom: 9px;
}

.tel-details {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--tel-details-color);
}
.tel {
    margin-top: 9px;
}
.footer-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--tel-details-color);
}
.join-to-us {
    color: var(--white-color);
    padding-left: 70px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    padding-top: 72px;
    font-weight: 700;
}
.social-icon-footer {
    list-style: none;
    display: flex;
    padding-left: 70px;
    padding-top: 20px;
}
.social-icon {
    padding-right: 10px;
    fill: rgba(255, 255, 255, 0.1);
}
.social-icon:hover {
    fill: var(--blue-color);
    transition: color 250ms, background 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-in-text {
    font-size: 14px;
    color: var(--white-color);
    line-height: 1.14;
    letter-spacing: 0.03em;
    font-weight: 700;
    padding-top: 72px;
    padding-left: 77px;
    padding-bottom: 20px;
}
.email {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
    margin-left: 77px;
    padding-left: 16px;
    margin-right: 8px;
}
.icon-send {
    position: relative;
    left: 60px;
    top: -37px;
}
.sign-in-text-two {
    position: relative;
    left: -14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #ffffff;
    padding-bottom: 10px;
}

/* end "FOOTER" */

/*********** portfolio.html ************/
/* SECTION-1 "portfolio-buttons */
.active-portfolio::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 4px;
    left: 326px;
    top: 78px;
    background-color: var(--blue-color);
    border-radius: 2px;
}
.portfolio-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 94px;
    list-style: none;
}
.portfolio-button {
    cursor: pointer;
    font-weight: 500;
    border-radius: 4px;
    border-style: none;
    margin-right: 8px;
    height: 38px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    font-size: 16px;
}
.portfolio-button:hover,
.portfolio-button:active {
    background-color: var(--blue-color);
    color: var(--white-color);
    transition: color 250ms, background 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* end SECTION-1 "portfolio-buttons */
/* start PHOTOS portfolio*/
.portfolio-cards {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 94px;
}
.portfolio-card {
    position: relative;
    overflow: hidden;
    border: 1px solid #eeeeee;
}
.portfolio-card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .portfolio-overlay {
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(0);
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    padding-top: 49px;
    padding-left: 24px;
}
.portfolio-overlay-inside {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
.portfolio-card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin: 0;
    padding-top: 20px;
    padding-left: 24px;
    color: var(--secondary-header-color);
    letter-spacing: 0.06em;
}
.portfolio-card-description {
    font-size: 16px;
    line-height: 1.9;
    margin: 0;
    padding-left: 24px;
    padding-bottom: 20px;
    color: var(--mediumgrey-color);
    letter-spacing: 0.03em;
}
.portfolio-card-f {
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    overflow: hidden;
    position: relative;
    height: 110px;
    background-color: var(--white-color);
}
/* portfolio footer */

/* modal */

.inputwithicons use {
    transition: 3s;
}
input [type=text]:focus {
    border-color: #2196f3;

}

textarea,
input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}
input {
    margin-left: 40px;
    width: 448px;
    height: 40px;
}
textarea {
    width: 448px;
    height: 120px;
    margin-left: 40px;
}

.rules-link {
    color: #2196f3;
}
.send-text {
    color: #ffffff;
}
.check-and-rules {
    display: flex;
    margin-bottom: 25px;
}
textarea::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    padding-top: 12px;
    padding-left: 16px;
    color: rgba(117, 117, 117, 0.5);
}
.positionsvg {
    position: relative;
    left: 100;
}

.inputwithicons {
    position: relative;
}
.inputwithicons svg {
    position: absolute;
    left: 55px;
    top: 12px;
}
.checkbox {
    width: 16px;
    height: 15px;
    border-radius: 4px;
    margin-left: 54px;
    margin-top: 14px;
    margin-right: 8px;
}
.send-button {
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    margin-left: 164px;
    margin-bottom: 40px;
}
::placeholder input {
    padding-left: 16px;
    padding-top: 12px;
    font-size: 12px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.form-text {
    text-align: center;
    padding-top: 40px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.inside-text {
    padding-left: 40px;
    color: #757575;
}
.btn-footer {
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    border-style: none;
    cursor: pointer;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms, visibility 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    padding: 0;
}

.close-btn:hover,
.close-btn:focus {
    background: var(--blue-color);
    color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: background 250ms, color 250ms, box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* === end BACKDROP === */

