.list-wrapper {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 94px;
    
    &__title {
    margin-top: 30px;
}
&__text {
    font-size: 14px;
    line-height: 1.7;
    color: var(--nav-mail-color);
    letter-spacing: 0.03em;
    padding-top: 10px;
}
}

