.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px var(--grey-shadow-one), 0px 1px 1px var(--grey-shadow-seven),
        0px 2px 1px var(--grey-shadow-eight);
    border-radius: 4px;
}