*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding-left: 0;
}


body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
}
header {
    border: 1px solid var(--border-color);
}
footer {
    background-color: var(--container-color);
    height: 252px;
}
address {
    padding-top: 60px;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
textarea,
input {
    border: 1px solid var(--grey-shadow-ten);
    border-radius: 4px;
    resize: none; 
    margin-left: 40px; 
    width: 448px;
    padding-left: 39px; 
    height: 40px;
}

textarea {
    height: 120px;
    padding-left: 16px;
    padding-top: 12px;
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:focus {
    border: 1px solid var(--blue-color);
    border-radius: 4px;
    outline: none;
}