:root {
    --dark-color: #212121;
    --border-color: #ececec;
    --web-link-color: #000000;
    --blue-color: #2196f3;
    --nav-mail-color: #757575;
    --container-color: #2f303a;
    --white-color: #ffffff;
    --section-color: #f5f4fa;
    --tel-details-color: #ffffff99;
    --icon-border: #afb1b8;
    --border-color-two :#eeeeee;
    --icon-color: rgba(255, 255, 255, 0.1);
    --grey-shadow-one: rgba(0, 0, 0, 0.12);
    --grey-shadow-two: rgba(0, 0, 0, 0.06);
    --grey-shadow-three: rgba(0, 0, 0, 0.16);
    --grey-shadow-four: rgba(47, 48, 58, 0.4);
    --grey-shadow-five: rgba(47, 48, 58, 0.8);
    --grey-shadow-six: rgba(0, 0, 0, 0.15);
    --grey-shadow-seven: rgba(0, 0, 0, 0.14);
    --grey-shadow-eight: rgba(0, 0, 0, 0.2);
    --grey-shadow-nine: rgba(255, 255, 255, 0.3);
    --grey-shadow-ten: rgba(33, 33, 33, 0.2);
    --grey-shadow-eleven: rgba(117, 117, 117, 0.5);
    --grey-shadow-twelve: rgba(0, 0, 0, 0.1);
}